@import 'variables';

header {
    position: relative;

    background: linear-gradient(to bottom, $dutchWhite 0, $dutchWhite $grup05, $chamoisee $grup05, $chamoisee 100%);

    overflow: hidden;

    .header {
        &-container {
            display: flex;
            flex-direction: column;
            gap: calc($grup02 + $grup-02);

            padding: $grup07 $grup02 $grup03 $grup02;

            @include media-min(768px) {
                gap: calc($grup03 + $grup-02);

                padding: $grup08 $grup05 $grup05 $grup05;
            }

            @include media-min(1024px) {
                margin-top: $grup07;
                padding: $grup07 $grup07 $grup05 $grup07;
            }

            @include media-min(1536px) {
                box-sizing: content-box;

                max-width: 1280px;
                margin: $grup05 auto 0 auto;
                padding: $grup08 $grup08 $grup06 $grup08;
            }

            @include media-min(1792px) {
                display: grid;
                grid-template-columns: 3fr 5fr;
                gap: $grup06;
            }

            &--waves {
                position: absolute;
                top: $grup02;
                left: 0;
                right: 0;
                z-index: 1;

                @include media-min(768px) {
                    top: $grup03;
                }

                @include media-min(1696px) {
                    top: -$grup06;
                }

                & > .waves-bg {
                    background-image: url('@/assets/images/svg/Waves01.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center top;

                    width: 100%;
                    height: $grup07;

                    @include media-min(768px) {
                        height: $grup08;
                    }

                    @include media-min(1696px) {
                        height: $grup09;
                    }
                }
            }
        }

        &-intro {
            position: relative;
            z-index: 2;

            display: grid;
            grid-template-rows: auto 1fr;
            gap: $grup02;

            @include media-min(768px) {
                gap: $grup03;
            }

            &--title {
                display: grid;
                align-items: end;

                & > h1 {
                    font-family: Raleway;
                    font-size: $grup03;
                    line-height: $grup03;
                    font-weight: 900;
                    color: $dutchWhite;

                    @include media-min(768px) {
                        font-size: $grup04;
                        line-height: $grup04;
                    }

                    @include media-min(1280px) {
                        font-size: $grup06;
                        line-height: $grup06;
                    }
                }
            }

            &--text {
                color: $seasalt;
            }

            &--content {
                display: flex;
                flex-direction: column;
                gap: $grup;

                @include media-min(768px) {
                    gap: $grup02;
                }

                & .btn-link {
                    width: fit-content;
                }

                & .btn_secondary .btn-shadow {
                    left: -$grup-02;
                    right: unset;
                }
            }
        }
    }
}
