@import 'variables';

.devHeader {
    position: relative;
    background-color: $chamoisee;

    &-bg {
        position: absolute;
        top: 0;
        left: 0;

        @include media-min(2560px) {
            display: none;
        }

        &--bg {
            width: 100vw;
            height: auto;
        }

        &::after {
            position: absolute;
            top: $grup-01;
            right: 0;
            left: $grup-01;
            box-sizing: border-box;
            content: ' ';
            display: block;

            width: 100%;
            height: 130%;

            background-image: url('@/assets/images/svg/DotsBg_small.svg');
            background-repeat: repeat;

            @include media-min(1024px) {
                background-image: url('@/assets/images/svg/DotsBg.svg');
            }

            @include media-min(2560px) {
                display: none;
            }
        }

        &--content {
            position: absolute;
            top: $grup04;
            left: 0;

            display: none;
            align-items: center;
            gap: $grup;

            transform: rotate(8deg);
            transform-origin: top left;

            @include media-min(460px) {
                display: flex;
            }

            @include media-min(512px) {
                top: $grup05;
            }

            @include media-min(768px) {
                top: $grup06;
            }

            @include media-min(960px) {
                top: $grup06 + $grup-01;
            }

            @include media-min(1024px) {
                top: $grup06 + $grup02;
            }

            @include media-min(1152px) {
                top: $grup06 + $grup04;
            }

            @include media-min(1280px) {
                top: $grup07 + $grup04;
            }

            @include media-min(1536px) {
                top: $grup07 + $grup05;
            }

            @include media-min(1792px) {
                top: $grup07 + $grup05 + $grup01;
            }

            @include media-min(1920px) {
                top: $grup07 + $grup06;
            }

            @include media-min(2048px) {
                top: $grup07 + $grup06 + $grup02;
            }

            @include media-min(2304px) {
                top: $grup07 + $grup06 + $grup04;
            }

            @include media-min(2432px) {
                top: $grup07 + $grup06 + $grup05;
            }

            & .ornament-container {
                display: flex;
                & > #ornament02 {
                    &:not(:first-child) {
                        margin-left: -17px;
                    }
                }
            }

            & #ornament01 {
                width: auto;
                height: $grup-01;
            }

            & #ornament02 {
                width: auto;
                height: $grup-02;
            }
        }

        &--circle {
            position: absolute;
            bottom: - calc(($grup08 + $grup06) / 2);
            right: - calc(($grup08 + $grup06) / 2);
            z-index: 1;

            display: none;

            width: calc($grup08 + $grup06);
            height: calc($grup08 + $grup06);

            transform: rotate(9deg);

            @include media-min(1024px) {
                display: block;
            }

            @include media-min(1280px) {
                bottom: - calc(($grup09) / 2);
                right: - calc(($grup09) / 2);

                width: calc($grup09);
                height: calc($grup09);
            }
        }
    }

    &-container {
        position: relative;
        z-index: 10;

        display: flex;
        flex-direction: column;
        gap: $grup03;

        padding: $grup03 $grup02;

        @include media-min(512px) {
            gap: $grup04;
        }

        @include media-min(640px) {
            gap: $grup05;
        }

        @include media-min(768px) {
            gap: $grup05;

            padding: $grup05;
        }

        @include media-min(960px) {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto 1fr;
            grid-template-areas:
                'title title title title title title title title title title title title'
                'content content content content content content content content content content . .';
        }

        @include media-min(1024px) {
            padding: $grup05 $grup07;
        }

        @include media-min(1152px) {
            padding: calc($grup05 + $grup03) $grup08 $grup05 $grup08;
        }

        @include media-min(1536px) {
            box-sizing: content-box;

            max-width: 1280px;
            margin: 0 auto;
            padding: calc($grup06 + $grup) $grup08 $grup06 $grup08;

            grid-template-areas:
                'title title title title title title title title title title title title'
                'content content content content content content content content . . . .';
        }

        @include media-min(1792px) {
            padding: calc($grup06 + $grup03) $grup08 $grup05 $grup08;
        }

        @include media-min(1984px) {
            padding: calc($grup06 + $grup04) $grup08 $grup06 $grup08;
        }

        @include media-min(2048px) {
            padding: calc($grup06 + $grup05) $grup08 $grup06 $grup08;
        }

        @include media-min(2304px) {
            padding: calc($grup06 + $grup06) $grup08 $grup06 $grup08;
        }

        @include media-min(2432px) {
            padding: calc($grup06 + $grup07) $grup08 $grup06 $grup08;
        }

        @include media-min(2560px) {
            padding: $grup06 $grup08;
        }

        & .devHeader {
            &-title {
                width: fit-content;

                font-family: Raleway;
                font-size: calc($grup03 + $grup-02);
                font-weight: 900;
                color: $dutchWhite;
                text-transform: uppercase;
                text-shadow:
                    1px 1px 0 $chamoisee,
                    -1px 1px 0 $chamoisee,
                    -1px -1px 0 $chamoisee,
                    1px -1px 0 $chamoisee;
                letter-spacing: 0.5px;

                @include media-min(512px) {
                    font-size: $grup04;
                }

                @include media-min(768px) {
                    font-size: $grup05;
                }

                @include media-min(1280px) {
                    font-size: $grup06;
                }

                &--container {
                    position: relative;

                    grid-area: title;

                    width: fit-content;
                }
            }

            &-exclamation {
                position: absolute;
                top: -$grup-02;
                right: -$grup01;

                width: $grup;
                height: auto;

                @include media-min(768px) {
                    top: -$grup-01;
                    right: -$grup03;
                    width: $grup02;
                }

                @include media-min(1024px) {
                    top: -$grup;
                    right: -$grup04;
                    width: $grup03;
                }

                @include media-min(1280px) {
                    top: -$grup02;
                    right: - calc($grup04 + $grup-03);
                    width: $grup04;
                }

                @include media-min(2560px) {
                    fill: $dutchWhite;

                    & > * {
                        fill: $dutchWhite;
                        stroke: $dutchWhite;
                    }
                }
            }

            &-content {
                color: $seasalt;
                &--container {
                    display: flex;
                    flex-direction: column;
                    gap: $grup02;

                    grid-area: content;
                }
            }
        }
    }

    &-btn {
        &--container {
            display: flex;
            gap: $grup02;

            padding-left: $grup-02;

            & .btn-shadow {
                left: -$grup-02;
                right: 0;
            }
        }
    }
}

.devContent {
    background-color: $chamoisee;

    &-container {
        & .devCard {
            padding: $grup03 $grup02;

            @include media-min(768px) {
                padding: $grup05;
            }

            @include media-min(1024px) {
                padding: $grup05 $grup07;
            }

            @include media-min(1536px) {
                box-sizing: content-box;

                max-width: 1280px;
                margin: 0 auto;
                padding: 0 $grup08 $grup06 $grup08;
            }

            &.dutchWhite {
                background-color: $dutchWhite;

                & .btn {
                    &-round {
                        background-color: $sunset;
                    }
                }

                & .devCard-content--image-container {
                    &::before {
                        border-top-color: $sunset;
                    }
                    &::after {
                        border-bottom-color: $sunset;
                    }
                }
            }

            &.periwinkle {
                background-color: $periwinkle;

                & .btn {
                    &-round {
                        background-color: $mauve;
                    }
                }

                & .devCard-content--image-container {
                    &::before {
                        border-top-color: $mauve;
                    }
                    &::after {
                        border-bottom-color: $mauve;
                    }
                }
            }

            &.mistyRose {
                background-color: $mistyRose;

                & .btn {
                    &-round {
                        background-color: $salmonPink;
                    }
                }

                & .devCard-content--image-container {
                    &::before {
                        border-top-color: $salmonPink;
                    }
                    &::after {
                        border-bottom-color: $salmonPink;
                    }
                }
            }

            &.cream {
                background-color: $cream;

                & .btn {
                    &-round {
                        background-color: $celadon;
                    }
                }

                & .devCard-content--image-container {
                    &::before {
                        border-top-color: $celadon;
                    }
                    &::after {
                        border-bottom-color: $celadon;
                    }
                }
            }

            &.uranianBlue {
                background-color: $uranianBlue;

                & .btn {
                    &-round {
                        background-color: $jordyBlue;
                    }
                }

                & .devCard-content--image-container {
                    &::before {
                        border-top-color: $jordyBlue;
                    }
                    &::after {
                        border-bottom-color: $jordyBlue;
                    }
                }

                & a {
                    color: $vanDyke;
                }
            }

            &-container {
                display: flex;
                flex-direction: column;
                gap: $grup02;

                & .devCard {
                    &-top {
                        display: flex;
                        justify-content: space-between;

                        & .title {
                            &-links {
                                display: flex;
                                gap: $grup-02;
                            }
                        }

                        &--container {
                            display: flex;
                            flex-direction: column;
                            gap: $grup-02;

                            width: fit-content;

                            & .title {
                                font-family: Raleway;
                                font-weight: 900;
                                font-size: $grup03;
                                line-height: $grup03;
                                letter-spacing: 0.5px;
                                color: $raisinBlack;

                                @include media-min(512px) {
                                    font-size: calc($grup03 + $grup-02);
                                    line-height: calc($grup03 + $grup-02);
                                }

                                @include media-min(768px) {
                                    font-size: calc($grup03 + $grup);
                                    line-height: calc($grup03 + $grup);
                                }

                                &-container {
                                    display: flex;
                                    align-items: center;
                                    gap: $grup;
                                }

                                &-icon {
                                    height: $grup03;

                                    @include media-min(512px) {
                                        height: calc($grup03 + $grup-02);
                                    }

                                    @include media-min(768px) {
                                        height: calc($grup03 + $grup);
                                    }
                                }
                            }

                            & .separator {
                                width: 100%;
                                height: 1px;
                                margin: 0;

                                border-color: $chamoisee;
                            }

                            & .subtitle {
                                width: fit-content;

                                color: $chamoisee;
                                text-transform: uppercase;
                                letter-spacing: 0.5px;
                                font-weight: 500;
                                font-size: $grup-01;

                                @include media-min(512px) {
                                    font-size: $grup;
                                }

                                & br {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    &-content {
                        display: flex;
                        flex-direction: column;
                        gap: $grup;

                        & p {
                            color: $raisinBlack;
                        }

                        &--image {
                            display: block;

                            // Removing 4px border from the image
                            width: calc(100% - $grup-03 - $grup-03);
                            margin: $grup-03;

                            border-radius: $grup-03;

                            &-container {
                                position: relative;

                                &::before {
                                    content: '';

                                    position: absolute;
                                    bottom: -$grup-03;
                                    left: -$grup;

                                    width: 0;
                                    height: 0;
                                    border-left: $grup02 solid transparent;
                                    border-right: $grup02 solid transparent;

                                    border-top: $grup02 solid;

                                    transform: rotate(45deg);

                                    @include media-min(768px) {
                                        bottom: -$grup-02;
                                        left: - calc($grup01 + $grup-03);

                                        border-left: $grup03 solid transparent;
                                        border-right: $grup03 solid transparent;

                                        border-top: $grup03 solid;
                                    }
                                }

                                &::after {
                                    content: '';

                                    position: absolute;
                                    top: -$grup-03;
                                    right: -$grup;

                                    width: 0;
                                    height: 0;
                                    border-left: $grup02 solid transparent;
                                    border-right: $grup02 solid transparent;

                                    border-bottom: $grup02 solid;

                                    transform: rotate(45deg);

                                    @include media-min(768px) {
                                        top: -$grup-02;
                                        right: - calc($grup01 + $grup-03);

                                        border-left: $grup03 solid transparent;
                                        border-right: $grup03 solid transparent;

                                        border-bottom: $grup03 solid;
                                    }
                                }
                            }
                        }
                    }

                    &-tags {
                        &--container {
                            display: flex;
                            flex-direction: column;
                            gap: $grup-02;

                            @include media-min(768px) {
                                gap: $grup;
                            }

                            & .separator {
                                width: 100%;
                                height: 1px;
                                margin: 0;

                                border-color: $chamoisee;
                            }

                            & .tags {
                                &-container {
                                    display: flex;
                                    gap: $grup-03;

                                    & .tag {
                                        display: flex;
                                        align-items: center;
                                        gap: $grup-03;

                                        min-width: unset;
                                        height: $grup02;
                                        padding: 0 $grup-02;

                                        border-radius: 50px;
                                        border: 1px solid $vanDyke;

                                        font-size: $grup-01;
                                        font-weight: 600;

                                        @include media-min(512px) {
                                            gap: $grup-02;

                                            height: calc($grup02 + $grup-03);
                                            padding: 0 calc($grup-02 + $grup-04);

                                            font-size: $grup;
                                        }

                                        @include media-min(1024px) {
                                            height: calc($grup02 + $grup-02);
                                        }

                                        &:nth-child(n + 5) {
                                            display: none;
                                        }

                                        &-icon {
                                            height: $grup;
                                        }

                                        &.jordyBlue {
                                            background-color: $jordyBlue;
                                        }

                                        &.mauve {
                                            background-color: $mauve;
                                        }

                                        &.celadon {
                                            background-color: $celadon;
                                        }

                                        &.sunset {
                                            background-color: $sunset;
                                        }

                                        &.salmonPink {
                                            background-color: $salmonPink;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
