@import 'variables';

.bg {
    position: relative;

    background: linear-gradient(90deg, $jordyBlue, $mauve);

    overflow-x: hidden;
}

.sun-container {
    position: absolute;
    top: -35%;
    left: -15%;

    /* height: max(50%, 96px); */
    width: 80%;
    aspect-ratio: 1;

    .sun {
        position: relative;
        width: 100%;
        height: 100%;

        &-aura {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            border-radius: 50%;
            outline: 1px $dutchWhite solid;
    
            &#aura01 {
                width: 100%;
                height: 100%;
            }
    
            &#aura02 {
                width: 65%;
                height: 65%;
            }
        }
    
        &-sphere {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    
            background-color: $dutchWhite;
            border-radius: 50%;
            height: 35%;
            width: 35%;
        }

        &-logo--container {
            position: relative;

            width: 100%;
            height: 100%;
        }

        &-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 60%;

            fill: $chamoisee;
        }
    }
}

.mountains {
    width: 100%;
    height: max(25dvh, 196px);

    
    .mountain {
        position: absolute;
        bottom: 0;

        height: 100%;
        
        fill: $vanDyke;

        &#mountain01 {
            right: -24px;
        }

        &#mountain02 {
            right: 15%;
        }

        &#mountain03 {
            right: 30%;
        }
        &#mountain04 {
            left: 0;
        }
    }
}

.me-container {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding: 0 24px $grup-02 24px;

    background-color: $vanDyke;

    .me {
        display: flex;
        flex-direction: column;
        gap: $grup-02;

        width: fit-content;

        transform: translateY(-24px);
        
        &-overline {
            font-size: $grup-01;
            font-weight: 300;
            color: $seasalt;
            text-transform: uppercase;
        }
    
        &-name {
            display: block;

            width: fit-content;
            margin-left: 0;

            font-family: Raleway;
            font-weight: 900;
            font-size: $grup03;
            color: $mistyRose;
            text-align: right;
            text-transform: uppercase;
    
            &#firstname {
                margin: 0 $grup02 0 auto;
            }
    
            &#name {
                margin-left: auto;
                color: $seasalt;
                font-style: italic;
            }
        }
    }
}