@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$raisinBlack: #272425;
$vanDyke: #443433;
$chamoisee: #99715B;
$dutchWhite: #F4E4BA;
$seasalt: #F9F9F9;
$mistyRose: #FFE3E0;
$mauve: #B3A7FF;
$jordyBlue: #93BEFF;
$celadon: #BBDB9B;

$grup-02: 0.5rem;
$grup-01: 0.75rem;
$grup: 16px;
$grup01: 1.25rem;
$grup02: 1.5rem;
$grup03: 2rem;
$grup04: 3rem;
$grup05: 4rem;