@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.devHeader {
  position: relative;
  background-color: #99715b;
}
.devHeader-bg {
  position: absolute;
  top: calc(0px - 8rem - 4px + 2rem);
  left: 0;
  width: 150vw;
  height: 8rem;
  background-color: #f4e4ba;
  transform: rotate(8deg);
  transform-origin: top left;
}
@media (min-width: 512px) {
  .devHeader-bg {
    top: calc(0px - 16rem - 4px + 2rem);
    height: 16rem;
  }
}
@media (min-width: 768px) {
  .devHeader-bg {
    top: calc(0px - 16rem - 4px + 4rem);
    height: 16rem;
  }
}
.devHeader-bg::after {
  box-sizing: border-box;
  content: " ";
  display: block;
  width: 100%;
  height: 130%;
  background-image: url("@/assets/images/svg/DotsBg.svg");
  background-repeat: repeat;
  transform: rotate(-8deg);
}
.devHeader-bg--content {
  position: relative;
  top: calc(100% - 16px - 0.75rem);
  left: 70vw;
  display: none;
  align-items: center;
  gap: 16px;
}
@media (min-width: 460px) {
  .devHeader-bg--content {
    display: flex;
  }
}
@media (min-width: 576px) {
  .devHeader-bg--content {
    left: 65vw;
  }
}
@media (min-width: 640px) {
  .devHeader-bg--content {
    left: 60vw;
  }
}
@media (min-width: 704px) {
  .devHeader-bg--content {
    left: 55vw;
  }
}
@media (min-width: 768px) {
  .devHeader-bg--content {
    left: 65vw;
  }
}
@media (min-width: 832px) {
  .devHeader-bg--content {
    left: 60vw;
  }
}
@media (min-width: 896px) {
  .devHeader-bg--content {
    left: 55vw;
  }
}
@media (min-width: 960px) {
  .devHeader-bg--content {
    left: 50vw;
  }
}
@media (min-width: 1088px) {
  .devHeader-bg--content {
    left: 45vw;
  }
}
@media (min-width: 1216px) {
  .devHeader-bg--content {
    left: 40vw;
  }
}
@media (min-width: 1280px) {
  .devHeader-bg--content {
    left: 70vw;
  }
}
.devHeader-bg--content .ornament-container > #ornament02:not(:first-child) {
  margin-left: -17px;
}
.devHeader-bg--content #ornament01 {
  width: auto;
  height: 0.75rem;
}
.devHeader-bg--content #ornament02 {
  width: auto;
  height: 0.5rem;
}
.devHeader-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
}
@media (min-width: 512px) {
  .devHeader-container {
    gap: 3rem;
  }
}
@media (min-width: 640px) {
  .devHeader-container {
    gap: 4rem;
  }
}
@media (min-width: 768px) {
  .devHeader-container {
    gap: 4rem;
    padding: 4rem;
  }
}
@media (min-width: 960px) {
  .devHeader-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: "title title title title title title title title title title title title" "content content content content content content content content content content . .";
  }
}
.devHeader-container .devHeader-title {
  width: fit-content;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 900;
  color: #f4e4ba;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #99715b, -1px 1px 0 #99715b, -1px -1px 0 #99715b, 1px -1px 0 #99715b;
  letter-spacing: 0.5px;
}
@media (min-width: 512px) {
  .devHeader-container .devHeader-title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .devHeader-container .devHeader-title {
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .devHeader-container .devHeader-title {
    font-size: 6rem;
  }
}
.devHeader-container .devHeader-title--container {
  position: relative;
  grid-area: title;
  width: fit-content;
}
.devHeader-container .devHeader-exclamation {
  position: absolute;
  top: -0.5rem;
  right: -1.25rem;
  width: 16px;
  height: auto;
}
.devHeader-container .devHeader-content {
  color: #f9f9f9;
}
.devHeader-container .devHeader-content--container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: content;
}
.devHeader-btn--container {
  display: flex;
  gap: 1.5rem;
  padding-left: 0.5rem;
}
.devHeader-btn--container .btn-shadow {
  left: -0.5rem;
  right: 0;
}

/*# sourceMappingURL=development.css.map */
