@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.bg {
  position: relative;
  background: linear-gradient(90deg, #93BEFF, #B3A7FF);
  overflow: hidden;
}
.bg::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #443433;
}

.sun-container {
  position: absolute;
  top: -40%;
  left: -15%;
  /* height: max(50%, 96px); */
  width: min(384px, 80%);
  aspect-ratio: 1;
}
.sun-container .sun {
  position: relative;
  width: 100%;
  height: 100%;
}
.sun-container .sun-aura {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 1px #F4E4BA solid;
}
.sun-container .sun-aura#aura01 {
  width: 100%;
  height: 100%;
}
.sun-container .sun-aura#aura02 {
  width: 65%;
  height: 65%;
}
.sun-container .sun-sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F4E4BA;
  border-radius: 50%;
  height: 35%;
  width: 35%;
}
.sun-container .sun-logo--container {
  position: relative;
  width: 100%;
  height: 100%;
}
.sun-container .sun-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  fill: #99715B;
}
@media (min-width: 450px) {
  .sun-container {
    top: -45%;
    left: -12%;
  }
}
@media (min-width: 576px) {
  .sun-container {
    left: -5%;
  }
}
@media (min-width: 768px) {
  .sun-container {
    top: -35%;
    left: 15.36;
  }
}
@media (min-width: 960px) {
  .sun-container {
    top: -30%;
    left: 2%;
  }
}
@media (min-width: 1024px) {
  .sun-container {
    top: -30%;
    left: 51.2;
    width: min(512px, 80%);
  }
}

.mountains {
  display: flex;
  min-width: fit-content;
  width: 100%;
  height: max(25dvh, 196px);
}
.mountains-container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 768px;
}
@media (min-width: 768px) {
  .mountains-container {
    min-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mountains-container {
    min-width: 1024px;
  }
}
.mountains .mountain {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 100%;
  fill: #443433;
}
.mountains .mountain#mountain01 {
  display: inline-block;
  right: -24px;
}
.mountains .mountain#mountain02 {
  right: 15%;
}
.mountains .mountain#mountain03 {
  right: 30%;
}
@media (min-width: 576px) {
  .mountains .mountain#mountain03 {
    right: 28%;
  }
}
.mountains .mountain#mountain04 {
  left: 0;
}
.mountains #mountain01-body {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #443433;
}
@media (min-width: 768px) {
  .mountains #mountain01-body {
    display: block;
  }
}
@media (min-width: 768px) {
  .mountains {
    height: max(30dvh, 196px);
  }
}
@media (min-width: 1024px) {
  .mountains {
    height: max(40dvh, 196px);
  }
}

.me-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 24px 0.5rem 24px;
  background-color: #443433;
}
.me-container .me {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  transform: translateY(-24px);
}
.me-container .me-overline {
  font-size: 0.75rem;
  font-weight: 300;
  color: #F9F9F9;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .me-container .me-overline {
    font-size: 16px;
  }
}
.me-container .me-name {
  display: block;
  width: fit-content;
  margin-left: 0;
  font-family: Raleway;
  font-weight: 900;
  font-size: 2rem;
  color: #FFE3E0;
  text-align: right;
  text-transform: uppercase;
}
.me-container .me-name#firstname {
  margin: 0 1.5rem 0 auto;
}
.me-container .me-name#name {
  margin-left: auto;
  color: #F9F9F9;
  font-style: italic;
}
@media (min-width: 576px) {
  .me-container .me-name {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .me-container .me-name {
    font-size: 4rem;
  }
}
@media (min-width: 512px) {
  .me-container .me {
    transform: unset;
    padding: 24px 32px 0.5rem 32px;
  }
}
@media (min-width: 1152px) {
  .me-container .me {
    padding: 24px 128px 0.5rem 128px;
  }
}

/*# sourceMappingURL=header.css.map */
